@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: 'poppins', 'sans-serif';
  --color-primary: #1368EC;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-image: url('./assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #1f2544;
    overflow-x: hidden;
  }
}

.btn_primary {
  @apply text-sm font-medium text-white bg-primary px-6 py-2 rounded-md hover:bg-blue-200 hover:text-blue-600 shadow cursor-pointer
}